
@model GIFTed.ViewModels.AboutReceiverViewModel;


<h1>@Model.Name</h1>

<div>
    <p>Address: @Model.Address</p>
    <p>Email: @Model.ContactEmail</p>
    <p>Relationship: @Model.Type</p>
    <p>Notes: @Model.Notes</p>

    <table class="table">
        <tr>
            <th>Gift</th>
            <th>Cost</th>
            <th>Link</th>
        </tr>

        @foreach (var gift in Model.giftList)
        {
            <tr>
                <td>@gift.GiftName</td>
                <td>@gift.Cost</td>
                <td>@gift.Link</td>
            </tr>
        }

    </table>

</div>