
@model GIFTed.ViewModels.AboutReceiverViewModel;


<h1>@Model.Name</h1>

<div>
    <p>Birthday: @Model.Birthday.ToString("MM/dd/yyyy")</p>
    <p>Address: @Model.Address</p>
    <p>Email: @Model.ContactEmail</p>
    <p>Relationship: @Model.Type</p>
    <p>Notes: @Model.Notes</p>

    <table class="table">
        <tr>
            <th>Gift</th>
            <th>Cost</th>
            <th>Link</th>
        </tr>


        @if (Model.gifts == null)
        {
            <p>No gifts yet!</p>
        }
        else
        {
            @foreach (var gift in Model.gifts)
            {
                <tr>
                    <td>@gift.GiftName</td>
                    <td>$@gift.Cost</td>
                    <td><a href=@gift.Link>Buy Now!</a></td>
                </tr>
            }
        }



    </table>

    <p><a class="btn btn-primary mb-2" asp-controller="Receiver" asp-action="Edit" asp-route-id="@Model.Id">Edit Receiver</a></p>
    <p><a class="btn btn-danger mb-2" asp-controller="Receiver" asp-action="Delete" asp-route-id="@Model.Id">Delete This Receiver</a></p>

</div>