
@model GIFTed.ViewModels.AboutReceiverViewModel;


<h1>@Model.Name</h1>

<div>
    <h2 class="text-danger" align="center">Birthday: @Model.Birthday.ToString("MM/dd/yyyy")</h2>
    <h4 class="text-warning" align="center">@Model.Countdown days away!</h4>
    <p>Address: @Model.Address</p>
    <p>Email: @Model.ContactEmail</p>
    <p>Relationship: @Model.Type</p>
    <p>Notes: @Model.Notes</p>

    @if (Model.NextBirthday < DateTime.Today)
    {
        Model.Countdown = (Model.NextBirthday.AddYears(1) - DateTime.Today).Days;
    }



    <table class="table">
        <tr>
            <th>Gift</th>
            <th>Cost</th>
            <th>Link</th>
        </tr>


        @if (Model.gifts == null)
        {
            <p>No gifts yet!</p>
        }
        else
        {
            @foreach (var gift in Model.gifts)
            {
                <tr>
                    <td>@gift.GiftName</td>
                    <td>$@gift.Cost</td>
                    <td><a role="button" class="btn btn-link" href=@gift.Link target="_blank">Buy Now!</a></td>
                </tr>
            }
        }



    </table>
    <p><a role="button" class="btn btn-success btn-lg" asp-controller="Gift" asp-action="Add">Add a new gift</a>
    <a role="button"class="btn btn-warning" asp-controller="Receiver" asp-action="Edit" asp-route-id="@Model.Id">Edit Receiver</a>
    <a role="button"class="btn btn-danger" asp-controller="Receiver" asp-action="Delete" asp-route-id="@Model.Id">Delete This Receiver</a></p>

</div>