@model List<GIFTed.Models.Gift>

<h1>All Gifts</h1>


<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Cost
        </th>
        <th>
            Link
        </th>
        <th>
            Reciever
        </th>
    </tr>


    @foreach (var item in Model)
    {
<tr>
    <td>@item.GiftName</td>
    <td>$@item.Cost</td>
    <td><a role="button" class="btn btn-link" href="@item.Link" target="_blank">Buy Now!</a></td>
    <td>@item.Receiver.Name</td>
    <td><a class="btn btn-outline-primary" asp-controller="Gift" asp-action="Edit" asp-route-id="@item.Id">Edit Gift</a>
        <a class="btn btn-outline-danger" asp-controller="Gift" asp-action="Delete" asp-route-id="@item.Id">Delete Gift</a></td>
</tr>
    }
</table>



<p>
    <a role="button" class="btn btn-outline-warning btn-lg btn-block" asp-controller="Gift" asp-action="Add">Add New Item</a>
</p>


